<!--INICIO DE INFO CONTACT-->
<!--El propósito de esta sección es el contacto que el usuario puede tener con la página
    la comunicación y redes sociales con las cuales cuenta Softelix y nuestr ubicación-->
<section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  p-0 pb-3">
  <section class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 contact-info  text-white bg-dark">
      <article class="row">
        <header class="contactUs col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Contact us
        </header>
        <!-- Sección de redes sociales-->
        <main class="iconos col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          Social Networks:

          <img class=" ml-4 mr-1" href="#" src="../../../assets/img/facebook_icon-icons.com_59205.png" alt="Facebook"
            title="Facebook">
          <img class="mr-1" href="#" src="../../../assets/img/1491580635-yumminkysocialmedia26_83102.png  "
            alt="Instagram" title="Instagram">
          <img class="mr-1" href="#" src="../../../assets/img/1491579542-yumminkysocialmedia22_83078.png  "
            alt="Twitter" title="Twitter">
        </main>
        <!-- Sección de redes sociales-->
        <!--Sección de correoelectrónico-->
        <footer class="pt-4 col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="float: left;">helpUs@Softelix.com </div>

        </footer>
        <footer class="pt-4 col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="float: left; padding-left: 2rem;">Cel: 8119324400</div>
        </footer>
      </article>
      <!--Sección de correoelectrónico-->
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 map-info text-white bg-dark">
      <div class="adress-info">
        <section class="adress ">
          <div>
            Address
          </div>
          <div class="direccion">
            <hr>
            Constitución 3098, Santa María, 64650 Monterrey, N.L.
          </div>
        </section>
      </div>
      <div class="google-map ">
        <iframe width="100%" height="100%"
          src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;coord=53.2734,-7.77832031&amp;q=Constituci%C3%B3n%203098%2C%20Santa%20Mar%C3%ADa%2C%2064650%20Monterrey%2C%20N.L.+(Softtel)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a
            href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe>

      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Softelix.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </section>
</section>



<!--END DE INFO CONTACT-->
