<!--COMPONENTE PARA LA SECCIÓN DE COMENTARIOS-->

<h3 class="text-center">Leave us your comment</h3>
<section class="container">
  <!--Fomulario para crear comentarios respecto a la película
      el form únicamente solicita dos parámetros, que son un NOMBRE y el COMMENTARIO
      , al dar click al botón este llama a una función en nuestro typescript
      el cual guarda el comentario en un arreglo-->
  <form #f="ngForm" (ngSubmit)="onSubmit()" class="row">
    <div class="form-row col-12 m-0 p-0">
      <div class="col-12 mb-2">
        <input type=" text" #first="ngModel" name="Nombre" [(ngModel)]="comentario.userName" class="form-control"
          placeholder="Name">
      </div>
      <div class="form-group col-12">
        <textarea class="form-control " #second="ngModel" name="comment" [(ngModel)]="comentario.comment"
          placeholder="Add a comment" rows="4"></textarea>
      </div>

      <div style="text-align: right;" class="col-12">
        <input type="submit" value="Guardar" class="aling-self-right btn bg-warning text-dark">
      </div>
    </div>
  </form>
</section>

<!--Esta sección sirve para generar los comentarios que ya se hicieron en 
    el formulario anterior y que se vayan generando-->
<div class="list-group container mt-3">
  <h3 class="text-center">Last comments</h3>
  <section class="list-group-item list-group-item-action " *ngFor="let coment of nuevosComentarios">
    <div class="mb-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 " style="text-align: left;">
      <h5 class="mb-1 p-0">{{coment.userName}}</h5>
      <small class="mb-1 p-0">{{coment.date}}</small>

      <p class="mb-1 p-0">{{coment.comment}}</p>
    </div>
  </section>
</div>
<!--FIN DEL COMPONENTE PARA LA SECCIÓN DE COMENTARIOS-->