<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<!--COMPONENTE DE CREAR NUEVA CUENTA DE USUARIO-->
<!-- TIENE COMO OBJETIVO CAPTIRAR LA INFORMACIÓN PARA PODER CREAR UNA NUEVA CUENTA DE USUARIO,
      CON UN FORM EN DONDE EN CADA INPUT PUEDA EL USUARIO INGRESAR LA INFORMACIÓN-->
<div class="container mb-3">

  <hr>
  <div class="card fondo-carta ">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center title-text">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
        <a href="" class="btn btn-block btn-facebook" ng-click="authenticateExternalProvider('Facebook')"> <i
            class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="fondo-carta ">OR</span>
      </p>
      <form>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Username" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn  btn-block color-boton" (click)="SaveAccount()"> Create Account </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account?
          <app-login></app-login><a href="" class=" text-link" data-toggle="modal" data-target="#modalLoginForm">Log
            In</a>
        </p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->
