<h3 class="text-center text-color">New Movies</h3>
<article class="row">
  <section class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 p-0 d-flex justify-content-center"
    *ngFor="let pelicula of peliculas">
    <div class="card " style="width:180px; margin-bottom: 1rem; ">
      <img src="{{pelicula.pic}}" class="card-img-top" alt="{{pelicula.title}}">
      <div class="card-body fondo-carta">
        <h5 class="card-title color-texto">{{pelicula.title}}</h5>
        <p class="card-text color-texto">Year: {{pelicula.year}}
        </p>
        <a href="{{pelicula.ref}}" class="btn  color-boton">
          Review</a>
      </div>
    </div>
  </section>
</article>
