<section class="row new-font">
  <article class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <!--Aqui inicia una película con su respectiva información-->
    <section class="row ">
      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <header class="movie-title  movie-title" style="text-align: center;">
          Birds of Prey
        </header>
      </article>

      <article class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-4 pl-5" style="text-align: center;">
        <img
          src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSJ4T1f7QuKgqfcxTMWbCerK83f5FAeAeFsY2sT_wMzZAr76FTn"
          alt="Birds Of Prey" title="Birds Of Prey">
      </article>
      <article class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6  pt-5">
        <main>
          <div class="movie-data" style="text-align: justify;">
            <p>
              <strong>YEAR: </strong> 2020 <strong>CLASSIFICATION:</strong> B-15
            </p>
            <p>
              DURATION: 109 minutes
            </p>
           <p>
               Genre: <a href="action" class="btn-primary p-1"> Action</a>
           </p>
            <p>
              DIRECTOR: Cathy Yan
            </p>
          </div>
          <div class="movie-sinopsis" style="text-align: justify;">
            Después de separarse de Joker, Harley Quinn y otras tres heroínas, Canario Negro, Cazadora y Renée Montoya,
            unen sus fuerzas para salvar a una niña del malvado rey del crimen Máscara Negra.
          </div>

        </main>
        <footer class="mt-3" style="text-align: right;">
          <app-like></app-like>
        </footer>
      </article>

      <article class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 more-padding mt-3 pb-4" style="text-align: right;">

        <app-comments></app-comments>
      </article>
    </section>
    <!--Aqui TERMINA una película con su respectiva información-->
  </article>
  <section class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <app-top titulo="
    Related movies"></app-top>
  </section>
</section>
