<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div class="encabezado-login">
          <div class="logo">
            <img src="../../../assets/img/logoSoftelix.png" alt="Softeliv" width="100px" height="100px" style="text-align: center;">
          </div>
          <h4 class="modal-title w-100 font-weight-bold text-color title-text" style="text-align: center;">Welcome Back!</h4>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <img src="../../../assets/img/emal_icon.png" style="width: 20px; height: 20px;" alt="email">
          <input type="email" id="defaultForm-email" class="form-control validate">
          <label class="text-color text-font" data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <img src="../../../assets/img/password.png" style="width: 20px; height: 20px;" alt="email">
          <input type="password" id="defaultForm-pass" class="form-control validate">
          <label class="text-color text-font" data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default  text-color color-boton text-font" (click)="logIn()">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="text-center">

</div> -->
