<!--Componente que se mostrará por género de película
  **razón principal** en vez de hacer muchos templates 
    por hoja de género, es más optimo un carrusel para tódas las películas
     de ese género-->
<h3 class="title-gener">{{title}}</h3>
<section class="regular slider pt-2 padding-bot" style="direction:ltr; text-align: center;">
  <div *ngFor="let pelicula of peliculas" class="m-1 efecto pt-3">
    <a href="bad-boys">
      <img src="../../../assets/img/portadas/{{pelicula.pic}}.jpg" class="card-img-top" alt="{{pelicula.title}}" title="{{pelicula.title}}">
    </a>
  </div>
</section> 


 
