
<!--COMPONETE DE CONTEO DE LIKES DE UNA PELICULA-->
<section style="text-align: right;display: flex; justify-content: flex-end;" >
  <div class="like-count">
    <button type="button" class="btn btn-warning" title="Number of Likes">{{numberOfLikes}}</button>
  </div>
  <div class="likes-button">
    <button type="button" class="btn btn-success" (click)="likeButtonClick()">Like</button>
    <button type="button" class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
  </div>
</section>

<!--COMPONETE DE CONTEO DE LIKES DE UNA PELICULA-->
