h3{
    color:#F7F8F9;
}

.fondo{
    background-color: #BE8769;
    color:#F7F8F9;
}

.numero-fondo{
    color: #64655C;
    background-color: #F7F8F9;
}

.shadow{
    box-shadow: 37px 39px 34px -21px rgba(255,255,255,1);
}