<h3 class="text-center">{{titulo}}</h3>
<article class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <ul class="list-group ">
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>
      <a href="#">
        <li class=" fondo list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class=" badge badge-primary badge-pill numero-fondo">14</span>
        </li>
      </a>

    </ul>
  </div>
</article>
